body{
    background: #C4C4C4;
}
/*bai 1*/
.wrapper{
    width: 625px;
    height: 687px;
    background: #C4C4C4;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    margin-right: 19px;
}
.block-red{
    background: #EB5757;
    width: 180px;
    height: 126px;
}
.block-green{
    background: #219653;
    width: 234px;
    height: 126px;
}
.block-green-2{
    background: #219653;
    width: 321px;
    height: 126px;
}   
.block-green-3{
    background: #219653;
    width: 587px;
    height: 124px;
}  
.block-orange{
    background: #F2994A;
    width: 123px;
    height: 126px;
}
.block-purple{
    background: #BB6BD9;
    width: 234px;
    height: 126px;
}
.block-blue{
    background: #56CCF2;
    width: 180px;
    height: 138px;
}
.block-yellow{
    background: #F2C94C;
    width: 180px;
    height: 138px;
}
.flex-row div{
    margin-top: 36px;
}

/* bai 2 */
.wrapper-2{
    width: 180px;
    height: 188px;
    position: relative;
    transform: rotate(45deg);
}
.circle{
    width: 85px;
    height: 85px;
    background: #F2994A;
    border-radius: 50%;
    position: absolute;
}

.square{
    width: 85px;
    height: 85px;
    background: #F2994A;
    position: absolute;
    top: 22%;
    left: 27%;
}
.first{
    left: 16px;
    top: 8px;
}
.second{
    top: 8px;
    right: 16px;
}
.third{
    bottom: 30px;
    left: 15px;
}
.fourth{
    right: 15px;
    bottom: 30px;
}

/* bai 3 */
.wrapper-3{
    width: 185px;
    height: 188px;
    background: #F2994A;
    position: relative;
    margin: auto;
}
.wrapper-3 div{
    width: 77px;
    height: 77px;
    border-radius: 50%;
    position: absolute;
}
.circle-1{
    top: 0;
    left: 0;
    background: #EB5757;
}
.circle-2{
    top: 0;
    right: 0;
    background: #9B51E0;
}
.circle-3{
    bottom: 0;
    left: 0;
    background: #9B51E0;

}
.circle-4{
    bottom: 0;
    right: 0;
    background: #EB5757;
}
.circle-5{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #219653;
}

/* bai 4 */
.wrapper-4{
    width: 242px;
    height: 242px;
    background: #56CCF2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}
.wrapper-4 div{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.circle-green{
    background: #219653;
}
.circle-orange{
    background: #F2994A;
}
.circle-red{
    margin-top: -12px;
    background: #EB5757;
}


/* bai 5 */
.visible-square{
    width: 190px;
    height: 190px;
    background: #906F6F;
    position: relative;
}
.hidden-circle{
    position: absolute;
    left: 55%;
    width: 190px;
    height: 190px;
    background: #C4C4C4;
    border-radius: 50%;
}

/* bai 6 */
.visible-circle{
    width: 227px;
    height: 227px;
    background: #F2994A;
    position: relative;
    border-radius: 50%;
}
.hidden-square{
    width: 191px;
    height: 191px;
    background: #C4C4C4;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(40%);
}
/* bai 7 */
.wrapper-7{
    width: 1479px;
    height: 236px;
    background: #0085FF;
    position: relative;
}
.wrapper-7 div{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.rectangle-1{
    width: 1183px;
    height: 193px;
    background: #754A4A;
}
.rectangle-2{
    width: 816px;
    height: 171px;
    background: #F2994A;
}
.rectangle-3{
    width: 547px;
    height: 149px;
    background: #EB5757;
}

/* bai 8 */
.container{
    width: 593.95px;
    height: 987.13px;
    background: #FFFFFF;
    position: relative;
}
.label-login{
    position: absolute;
    width: 110px;
    height: 46px;
    top: 43.92px;
    left: 37.64px;
    font-family: Inter;
    font-size: 37.64px;
    font-weight: 600;
    line-height: 45.56px;
    text-align: left;
}
.bt-login-with-google{
    position: absolute;
    width: 516.57px;
    height: 64.83px;
    top: 129.66px;
    left: 39.74px;
    padding: 14.64px 81.56px 14.64px 81.56px;
    border-radius: 10.46px;
    border: 3.14px solid #0000000D;
    font-family: Inter;
    font-size: 27.19px;
    font-weight: 600;
    line-height: 32.9px;
    letter-spacing: 0.01em;
}
.icon-google{
    position: absolute;
    width: 20.5px;
    height: 20.91px;
    left: 100px;
    top: 20px;
}

.email{
    position: absolute;
    width: 516.57px;
    height: 113.56px;
    top: 278.15px;
    left: 39.74px;

}
.email label{
    width: 68px;
    height: 32px;
    font-family: Roboto;
    font-size: 27.19px;
    font-weight: 500;
    line-height: 31.86px;
    text-align: left;
}
.email-input{
    width: 516.57px;
    height: 64.83px;
    border-radius: 10.46px;
    border: 3.14px solid #0000000D;
}
.email-input input{
    width: 500px;
    height: 64.83px;
    font-family: Inter;
    font-size: 26.14px;
    font-weight: 600;
    line-height: 31.64px;
    text-align: left;
    border: 0;
    padding-left: 10px;
}
.pass {
    position: absolute;
    width: 516.57px;
    height: 113.56px;
    top: 420.37px;
    left: 39.74px;
}
.pass label{
    width: 121px;
    height: 32px;
    font-family: Roboto;
    font-size: 27.19px;
    font-weight: 500;
    line-height: 31.86px;
    text-align: left;
}
.pass-input{
    width: 516.57px;
    height: 64.83px;
    border-radius: 10.46px;
    border: 3.14px;
}
.pass-input input{
    width: 516.57px;
    height: 64.83px;
    font-family: Inter;
    font-size: 25.1px;
    font-weight: 500;
    line-height: 30.37px;
    text-align: left;
    border: 0;
    padding-left: 10px;
}
.check-input{
    position: absolute;
    width: 226.92px;
    height: 33.46px;
    top: 575.13px;
    left: 39.74px;
    margin-top: -20px;
}
.check-input-text input{
    width: 33.46px;
    height: 33.46px; 
    background: #0185FE;
    border: 3.14px solid #FFFFFF;
}
.check-input-label{
    position: absolute;
    top: 5px;
    left: 40px;
    width: 183px;
    height: 32px;
    font-family: Inter;
    font-size: 26.14px;
    font-weight: 600;
    line-height: 31.64px;
    text-align: left;
    color: #00000066;
}
.bt-login{
    position: absolute;
    width: 516.57px;
    height: 64.83px;
    top: 650.42px;
    left: 39.74px;
    padding: 14.64px 20.91px 14.64px 20.91px;
    border-radius: 10.46px;
    border: 0;
    background: #0085FF;
    font-family: Inter;
    font-size: 27.19px;
    font-weight: 600;
    line-height: 32.9px;
    color: #FFFFFF;
}
.forget-label a{
    position: absolute;
    width: 236px;
    height: 33px;
    top: 757.08px;
    left: 179.86px;
    font-family: Inter;
    font-size: 27.19px;
    font-weight: 600;
    line-height: 32.9px;
    text-align: center;
    color: #0085FF;
    text-decoration: none;
}
.message-label{
    position: absolute;
    width: 314px;
    height: 33px;
    top: 876.28px;
    left: 140.12px;
    font-family: Inter;
    font-size: 27.19px;
    font-weight: 600;
    line-height: 32.9px;
    text-align: left;
    color: #00000066;
}
.singup-label a{
    position: absolute;
    width: 99px;
    height: 33px;
    top: 913.93px;
    left: 248.87px;
    font-family: Inter;
    font-size: 27.19px;
    font-weight: 600;
    line-height: 32.9px;
    text-align: center;
    color: #0085FFCC;
    text-decoration: none;
}
.icon-cancle{
    position: absolute;
    width: 43.92px;
    height: 43.92px;
    top: 27.19px;
    left: 524.93px;
}
/* bai 9 */
.container-2{
    width: 1304px;
    height: 794px;
    background: #FFFFFF;
    position: relative;
}
.avatar img{
    position: absolute;
    width: 586px;
    height: 694px;
    top: 50px;
    left: 50px;
    border-radius: 44px;
}
.title{
    position: absolute;
    width: 213px;
    height: 52px;
    top: 50px;
    left: 694px;
    font-family: Rubik;
    font-size: 44px;
    font-style: italic;
    font-weight: 700;
    line-height: 52.14px;
    text-align: left;
    color: #8CC5F9;
}
.content-text{
    position: absolute;
    width: 552px;
    height: 299px;
    top: 126px;
    left: 694px;
    font-family: Rubik;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.92px;
    text-align: left;
}
.contact img{
    position: absolute;
    width: 40px;
    height: 40px;
}
.img-1{
    top: 497px;
    left: 694px;
}
.img-2{
    top: 497px;
    left: 746px;
}
.img-3{
    top: 497px;
    left: 798px;
}
.message-2{
    position: absolute;
    width: 552px;
    height: 129px;
    top: 597px;
    left: 694px;
    font-family: Rubik;
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    line-height: 37.92px;
    text-align: left;
    color: #878ABC;
}
.icon-cancle-2 img{
    position: absolute;
    width: 29.56px;
    height: 29.56px;
    top: 6.72px;
    left: 6.72px;
    border: 4px 0px 0px 0px;
    top: 24px;
    left: 1237px;
}